---
import Navigation from '../components/Navigation.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
	<main class='flex'>
		<Navigation />
		<div class='ml-0 sm:ml-56'>
			<section>Andrei Aldea</section>
		</div>
	</main>
</Layout>
