---
import Experience from '../components/Experience.astro'
import Navigation from '../components/Navigation.astro'
import About from '../components/About.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Andrei Aldea'>
	<main class='flex'>
		<Navigation />
		<section class='mx-4 sm:mx-8 h-[2000px] w-full md:ml-72'>
			<About />
			<Experience />
		</section>
	</main>
</Layout>
