<footer
	class='ml-4 flex items-center gap-4 py-6 px-2 text-xs text-neutral-600 dark:border-black dark:text-neutral-400 sm:px-6 md:ml-72 md:px-2 lg:border-r'
>
	<div>© 2023 - All rights reserved</div>
	<a href='https://github.com/andrei-aldea' target='_blank'>
		<svg
			class='hidden dark:block'
			xmlns='http://www.w3.org/2000/svg'
			xmlns:xlink='http://www.w3.org/1999/xlink'
			width='26px'
			height='25px'
			viewBox='0 0 25 25'
			version='1.1'
		>
			<g id='surface1'>
				<path
					style=' stroke:none;fill-rule:evenodd;fill:rgb(100%,100%,100%);fill-opacity:1;'
					d='M 12.460938 0 C 5.570312 0 0 5.730469 0 12.816406 C 0 18.484375 3.570312 23.277344 8.523438 24.976562 C 9.140625 25.101562 9.367188 24.699219 9.367188 24.359375 C 9.367188 24.0625 9.347656 23.046875 9.347656 21.984375 C 5.878906 22.746094 5.160156 20.457031 5.160156 20.457031 C 4.601562 18.96875 3.777344 18.589844 3.777344 18.589844 C 2.640625 17.804688 3.859375 17.804688 3.859375 17.804688 C 5.117188 17.886719 5.777344 19.121094 5.777344 19.121094 C 6.890625 21.070312 8.6875 20.519531 9.410156 20.179688 C 9.511719 19.351562 9.84375 18.78125 10.191406 18.460938 C 7.429688 18.164062 4.519531 17.0625 4.519531 12.136719 C 4.519531 10.738281 5.015625 9.589844 5.796875 8.699219 C 5.675781 8.382812 5.242188 7.066406 5.921875 5.304688 C 5.921875 5.304688 6.972656 4.964844 9.347656 6.621094 C 10.363281 6.339844 11.410156 6.199219 12.460938 6.195312 C 13.515625 6.195312 14.585938 6.34375 15.578125 6.621094 C 17.953125 4.964844 19.003906 5.304688 19.003906 5.304688 C 19.683594 7.066406 19.25 8.382812 19.128906 8.699219 C 19.933594 9.589844 20.40625 10.738281 20.40625 12.136719 C 20.40625 17.0625 17.496094 18.144531 14.710938 18.460938 C 15.164062 18.863281 15.558594 19.628906 15.558594 20.839844 C 15.558594 22.558594 15.539062 23.9375 15.539062 24.359375 C 15.539062 24.699219 15.765625 25.101562 16.382812 24.976562 C 21.335938 23.277344 24.90625 18.484375 24.90625 12.816406 C 24.925781 5.730469 19.332031 0 12.460938 0 Z M 12.460938 0 '
				></path>
			</g>
		</svg>

		<svg
			class='dark:hidden'
			xmlns='http://www.w3.org/2000/svg'
			xmlns:xlink='http://www.w3.org/1999/xlink'
			width='26px'
			height='25px'
			viewBox='0 0 25 25'
			version='1.1'
		>
			<g id='surface1'>
				<path
					style=' stroke:none;fill-rule:evenodd;fill:rgb(14.117647%,16.078431%,18.431373%);fill-opacity:1;'
					d='M 12.460938 0 C 5.570312 0 0 5.730469 0 12.816406 C 0 18.484375 3.570312 23.277344 8.523438 24.976562 C 9.140625 25.101562 9.367188 24.699219 9.367188 24.359375 C 9.367188 24.0625 9.347656 23.046875 9.347656 21.984375 C 5.878906 22.746094 5.160156 20.457031 5.160156 20.457031 C 4.601562 18.96875 3.777344 18.589844 3.777344 18.589844 C 2.640625 17.804688 3.859375 17.804688 3.859375 17.804688 C 5.117188 17.886719 5.777344 19.121094 5.777344 19.121094 C 6.890625 21.070312 8.6875 20.519531 9.410156 20.179688 C 9.511719 19.351562 9.84375 18.78125 10.191406 18.460938 C 7.429688 18.164062 4.519531 17.0625 4.519531 12.136719 C 4.519531 10.738281 5.015625 9.589844 5.796875 8.699219 C 5.675781 8.382812 5.242188 7.066406 5.921875 5.304688 C 5.921875 5.304688 6.972656 4.964844 9.347656 6.621094 C 10.363281 6.339844 11.410156 6.199219 12.460938 6.195312 C 13.515625 6.195312 14.585938 6.34375 15.578125 6.621094 C 17.953125 4.964844 19.003906 5.304688 19.003906 5.304688 C 19.683594 7.066406 19.25 8.382812 19.128906 8.699219 C 19.933594 9.589844 20.40625 10.738281 20.40625 12.136719 C 20.40625 17.0625 17.496094 18.144531 14.710938 18.460938 C 15.164062 18.863281 15.558594 19.628906 15.558594 20.839844 C 15.558594 22.558594 15.539062 23.9375 15.539062 24.359375 C 15.539062 24.699219 15.765625 25.101562 16.382812 24.976562 C 21.335938 23.277344 24.90625 18.484375 24.90625 12.816406 C 24.925781 5.730469 19.332031 0 12.460938 0 Z M 12.460938 0 '
				></path>
			</g>
		</svg>
	</a>

	<a href='https://www.linkedin.com/in/andreialdea2004/' target='_blank'>
		<svg
			height='26'
			viewBox='0 0 72 72'
			width='26'
			xmlns='http://www.w3.org/2000/svg'
			><g fill='none' fill-rule='evenodd'
				><path
					d='M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z'
					fill='#007EBB'></path><path
					d='M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z'
					fill='#FFF'></path></g
			></svg
		>
	</a>
</footer>
