---
const Skills: Array<string> = [
	'Front-End',
	'Back-End',
	'UI / UX Design',
	'Interpersonal',
	'Testing and debugging',
	'SEO',
	'Python',
	'Javascript',
	'React'
]
---

<section
	class='grid gap-6 sm:grid-cols-2 md:mt-6 md:grid-cols-1 lg:mt-0 lg:grid-cols-2'
>
	<article id='about' class='space-y-1 bg-neutral-100 p-2 dark:bg-neutral-800'>
		<span class='font-bold dark:text-neutral-100'>About me</span>
		<p class='text-sm text-neutral-600 dark:text-neutral-500'>
			As a highly motivated and detail-oriented web developer, I have a passion
			for creating visually appealing and user-friendly websites.
		</p>
		<div class='font-bold dark:text-neutral-100'>Location</div>
		<span class='text-sm text-neutral-600 dark:text-neutral-500'
			>🇷🇴 Bucharest, Romania</span
		>
		<div class='font-bold dark:text-neutral-100'>Certificates</div>
		<span class='text-sm text-neutral-600 dark:text-neutral-500'
			>Cambridge English: Advanced (CAE)</span
		>
	</article>
	<article class='bg-neutral-100 p-2 dark:bg-neutral-800'>
		<span class='font-bold dark:text-neutral-100'>Skills</span>
		<ul class='my-1 flex flex-wrap gap-2 p-1 pl-0'>
			{
				Skills.map((item) => (
					<li class='w-max rounded-full border-2 py-1 px-2 text-sm dark:border-neutral-700 dark:text-neutral-100'>
						{item}
					</li>
				))
			}
		</ul>
	</article>
</section>
