<div class='overflow-hidden'>
	<svg
		id='visual'
		viewBox='0 0 900 200'
		width='900'
		height='200'
		xmlns='http://www.w3.org/2000/svg'
		xmlns:xlink='http://www.w3.org/1999/xlink'
		version='1.1'
		><g stroke-width='1' stroke-linejoin='bevel'
			><path d='M493 143.3L410 200L505 158.3Z' fill='#f3f3f3' stroke='#f3f3f3'
			></path><path
				d='M410 200L515 200L505 158.3Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M605 126.3L493 143.3L505 158.3Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M605 126.3L500 61.7L493 143.3Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M365 88.7L341 133.3L410 200Z'
				fill='#f1f1f1'
				stroke='#f1f1f1'></path><path
				d='M365 88.7L410 200L493 143.3Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M341 133.3L331 200L410 200Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M411 41.7L365 88.7L493 143.3Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M515 200L592 200L505 158.3Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M500 61.7L411 41.7L493 143.3Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M592 200L605 126.3L505 158.3Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M500 61.7L440 0L411 41.7Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M411 41.7L380 0L365 88.7Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M563 0L440 0L500 61.7Z'
				fill='#f1f1f1'
				stroke='#f1f1f1'></path><path
				d='M440 0L380 0L411 41.7Z'
				fill='#f1f1f1'
				stroke='#f1f1f1'></path><path
				d='M232 140.3L331 200L341 133.3Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M605 126.3L563 0L500 61.7Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M232 140.3L244 200L331 200Z'
				fill='#f1f1f1'
				stroke='#f1f1f1'></path><path
				d='M232 140.3L233 62.7L224 132.3Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M605 126.3L643 57.7L563 0Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M713 69.7L643 57.7L605 126.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M643 57.7L598 0L563 0Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M233 62.7L341 133.3L365 88.7Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M380 0L314 0L365 88.7Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M233 62.7L232 140.3L341 133.3Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M232 140.3L219 200L244 200Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M224 132.3L219 200L232 140.3Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M314 0L233 62.7L365 88.7Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M592 200L734 177.3L605 126.3Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M734 177.3L713 69.7L605 126.3Z'
				fill='#efefef'
				stroke='#efefef'></path><path
				d='M643 57.7L751 0L598 0Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M592 200L754 200L734 177.3Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M793 90.3L767 43.7L713 69.7Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M793 90.3L713 69.7L734 177.3Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M713 69.7L751 0L643 57.7Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M314 0L170 0L233 62.7Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M233 62.7L130 58.7L224 132.3Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M224 132.3L80 100.3L219 200Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M767 43.7L751 0L713 69.7Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M754 200L793 90.3L734 177.3Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M767 43.7L778 0L751 0Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M170 0L148 25.7L233 62.7Z'
				fill='#efefef'
				stroke='#efefef'></path><path
				d='M148 25.7L130 58.7L233 62.7Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M793 90.3L778 0L767 43.7Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M754 200L833 200L793 90.3Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M793 90.3L900 69.7L778 0Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M64 0L130 58.7L148 25.7Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M64 0L80 100.3L130 58.7Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M130 58.7L80 100.3L224 132.3Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M80 100.3L51 200L219 200Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M170 0L64 0L148 25.7Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M0 143.3L0 200L51 200Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M833 200L900 111.3L793 90.3Z'
				fill='#efefef'
				stroke='#efefef'></path><path
				d='M900 200L900 111.3L833 200Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M900 111.3L900 69.7L793 90.3Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M0 143.3L51 200L80 100.3Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M0 58.7L0 143.3L80 100.3Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M64 0L0 58.7L80 100.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M900 69.7L900 0L778 0Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M64 0L0 0L0 58.7Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path></g
		></svg
	>
</div>
