<div class='overflow-hidden'>
	<svg
		id='visual'
		viewBox='0 0 800 200'
		width='800'
		height='200'
		xmlns='http://www.w3.org/2000/svg'
		xmlns:xlink='http://www.w3.org/1999/xlink'
		version='1.1'
		><g stroke-width='1' stroke-linejoin='bevel'
			><path d='M402 89.3L439 84.7L439 0Z' fill='#ededed' stroke='#ededed'
			></path><path d='M486 49.7L454 0L439 0Z' fill='#f3f3f3' stroke='#f3f3f3'
			></path><path
				d='M439 84.7L486 49.7L439 0Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M439 0L340 0L402 89.3Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M472 200L499 99.3L439 84.7Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M439 84.7L499 99.3L486 49.7Z'
				fill='#f1f1f1'
				stroke='#f1f1f1'></path><path
				d='M590 21.7L515 0L486 49.7Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M486 49.7L515 0L454 0Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M340 0L305 82.7L402 89.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M402 89.3L472 200L439 84.7Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M305 82.7L357 148.3L402 89.3Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M340 0L277 0L305 82.7Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M278 200L378 200L357 148.3Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M357 148.3L378 200L402 89.3Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M378 200L472 200L402 89.3Z'
				fill='#f1f1f1'
				stroke='#f1f1f1'></path><path
				d='M608 45.7L590 21.7L499 99.3Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M499 99.3L590 21.7L486 49.7Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M472 200L561 151.3L499 99.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M561 151.3L608 45.7L499 99.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M277 0L218 31.7L305 82.7Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M305 82.7L278 200L357 148.3Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M472 200L541 200L561 151.3Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M561 151.3L609 132.3L608 45.7Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M218 31.7L218 104.3L305 82.7Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M218 104.3L278 200L305 82.7Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M623 200L609 132.3L561 151.3Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M709 0L639 0L725 49.7Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M608 45.7L639 0L590 21.7Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M590 21.7L639 0L515 0Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M157 96.7L196 169.3L218 104.3Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M218 104.3L196 169.3L278 200Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M541 200L623 200L561 151.3Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M725 49.7L639 0L608 45.7Z'
				fill='#efefef'
				stroke='#efefef'></path><path
				d='M218 31.7L157 96.7L218 104.3Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M202 200L203 200L196 169.3Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M196 169.3L203 200L278 200Z'
				fill='#efefef'
				stroke='#efefef'></path><path
				d='M121 200L202 200L196 169.3Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M277 0L138 0L218 31.7Z'
				fill='#f1f1f1'
				stroke='#f1f1f1'></path><path
				d='M218 31.7L138 0L157 96.7Z'
				fill='#efefef'
				stroke='#efefef'></path><path
				d='M725 49.7L608 45.7L609 132.3Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M712 148.3L725 49.7L609 132.3Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M623 200L712 148.3L609 132.3Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M68 121.3L121 200L157 96.7Z'
				fill='#f1f1f1'
				stroke='#f1f1f1'></path><path
				d='M157 96.7L121 200L196 169.3Z'
				fill='#efefef'
				stroke='#efefef'></path><path
				d='M138 0L73 99.7L157 96.7Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M623 200L730 200L712 148.3Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M800 96.7L800 0L725 49.7Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path><path
				d='M73 99.7L68 121.3L157 96.7Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M138 0L57 0L73 99.7Z'
				fill='#e7e7e7'
				stroke='#e7e7e7'></path><path
				d='M73 99.7L0 124.3L68 121.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M800 96.7L725 49.7L712 148.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M725 49.7L800 0L709 0Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M800 151.3L800 96.7L712 148.3Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M730 200L800 151.3L712 148.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M57 0L0 34.7L73 99.7Z'
				fill='#ededed'
				stroke='#ededed'></path><path
				d='M68 121.3L0 200L121 200Z'
				fill='#ebebeb'
				stroke='#ebebeb'></path><path
				d='M730 200L800 200L800 151.3Z'
				fill='#f3f3f3'
				stroke='#f3f3f3'></path><path
				d='M57 0L0 0L0 34.7Z'
				fill='#e5e5e5'
				stroke='#e5e5e5'></path><path
				d='M0 34.7L0 124.3L73 99.7Z'
				fill='#f6f6f6'
				stroke='#f6f6f6'></path><path
				d='M0 124.3L0 200L68 121.3Z'
				fill='#e9e9e9'
				stroke='#e9e9e9'></path></g
		></svg
	>
</div>
