<div class='overflow-hidden'>
	<svg
		class='dark:hidden'
		id='visual'
		viewBox='0 0 900 200'
		width='900'
		height='200'
		xmlns='http://www.w3.org/2000/svg'
		xmlns:xlink='http://www.w3.org/1999/xlink'
		version='1.1'
		><g stroke-width='1' stroke-linejoin='bevel'
			><path
				d='M409.1 98.7L441.1 167.3L481.9 148.3Z'
				fill='#f6f6f7'
				stroke='#f6f6f7'></path><path
				d='M356.3 200L417.1 200L441.1 167.3Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M441.1 167.3L527.9 200L481.9 148.3Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M481.9 148.3L533.9 55.7L409.1 98.7Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M417.1 200L527.9 200L441.1 167.3Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M481.9 148.3L602.7 149.3L533.9 55.7Z'
				fill='#ebecef'
				stroke='#ebecef'></path><path
				d='M409.1 98.7L356.3 200L441.1 167.3Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M409.1 98.7L327.3 152.3L356.3 200Z'
				fill='#e5e7eb'
				stroke='#e5e7eb'></path><path
				d='M508.9 0L413.1 0L409.1 98.7Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M409.1 98.7L308.3 75.7L327.3 152.3Z'
				fill='#f1f2f4'
				stroke='#f1f2f4'></path><path
				d='M527.9 200L602.7 149.3L481.9 148.3Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M533.9 55.7L508.9 0L409.1 98.7Z'
				fill='#f6f6f7'
				stroke='#f6f6f7'></path><path
				d='M413.1 0L308.3 75.7L409.1 98.7Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M560.7 200L602.7 149.3L527.9 200Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M533.9 55.7L574.7 0L508.9 0Z'
				fill='#e9ebee'
				stroke='#e9ebee'></path><path
				d='M602.7 149.3L607.5 80.7L533.9 55.7Z'
				fill='#e5e7eb'
				stroke='#e5e7eb'></path><path
				d='M614.7 29.7L574.7 0L533.9 55.7Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M308.3 75.7L261.5 109.7L327.3 152.3Z'
				fill='#f1f2f4'
				stroke='#f1f2f4'></path><path
				d='M327.3 152.3L266.5 200L356.3 200Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M413.1 0L298.3 0L308.3 75.7Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M308.3 75.7L298.3 0L261.5 109.7Z'
				fill='#f6f6f7'
				stroke='#f6f6f7'></path><path
				d='M607.5 80.7L614.7 29.7L533.9 55.7Z'
				fill='#ebecef'
				stroke='#ebecef'></path><path
				d='M670.5 87.3L614.7 29.7L607.5 80.7Z'
				fill='#ebecef'
				stroke='#ebecef'></path><path
				d='M261.5 109.7L266.5 200L327.3 152.3Z'
				fill='#f1f2f4'
				stroke='#f1f2f4'></path><path
				d='M697.4 110.3L670.5 87.3L602.7 149.3Z'
				fill='#f1f2f4'
				stroke='#f1f2f4'></path><path
				d='M602.7 149.3L670.5 87.3L607.5 80.7Z'
				fill='#e9ebee'
				stroke='#e9ebee'></path><path
				d='M670.5 87.3L651.5 0L614.7 29.7Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M614.7 29.7L651.5 0L574.7 0Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M261.5 109.7L206.5 150.3L266.5 200Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M192.6 103.3L206.5 150.3L261.5 109.7Z'
				fill='#e9ebee'
				stroke='#e9ebee'></path><path
				d='M560.7 200L676.5 200L602.7 149.3Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M676.5 200L697.4 110.3L602.7 149.3Z'
				fill='#e5e7eb'
				stroke='#e5e7eb'></path><path
				d='M670.5 87.3L734.4 25.7L651.5 0Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M201.5 0L192.6 103.3L261.5 109.7Z'
				fill='#e7e9ec'
				stroke='#e7e9ec'></path><path
				d='M90.8 200L198.6 200L206.5 150.3Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M206.5 150.3L198.6 200L266.5 200Z'
				fill='#f6f6f7'
				stroke='#f6f6f7'></path><path
				d='M298.3 0L201.5 0L261.5 109.7Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M676.5 200L725.4 200L697.4 110.3Z'
				fill='#ebecef'
				stroke='#ebecef'></path><path
				d='M785.2 55.7L734.4 25.7L697.4 110.3Z'
				fill='#ebecef'
				stroke='#ebecef'></path><path
				d='M697.4 110.3L734.4 25.7L670.5 87.3Z'
				fill='#ebecef'
				stroke='#ebecef'></path><path
				d='M201.5 0L139.6 88.7L192.6 103.3Z'
				fill='#f6f6f7'
				stroke='#f6f6f7'></path><path
				d='M192.6 103.3L139.6 88.7L206.5 150.3Z'
				fill='#e9ebee'
				stroke='#e9ebee'></path><path
				d='M734.4 25.7L752.4 0L651.5 0Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M785.2 55.7L752.4 0L734.4 25.7Z'
				fill='#e7e9ec'
				stroke='#e7e9ec'></path><path
				d='M725.4 200L782.2 129.3L697.4 110.3Z'
				fill='#e7e9ec'
				stroke='#e7e9ec'></path><path
				d='M782.2 129.3L785.2 55.7L697.4 110.3Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M201.5 0L118.6 0L139.6 88.7Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M725.4 200L787.2 200L782.2 129.3Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M900 0L799.2 0L785.2 55.7Z'
				fill='#ebecef'
				stroke='#ebecef'></path><path
				d='M139.6 88.7L90.8 200L206.5 150.3Z'
				fill='#f1f2f4'
				stroke='#f1f2f4'></path><path
				d='M66.8 109.3L90.8 200L139.6 88.7Z'
				fill='#e9ebee'
				stroke='#e9ebee'></path><path
				d='M900 94.7L785.2 55.7L782.2 129.3Z'
				fill='#f6f6f7'
				stroke='#f6f6f7'></path><path
				d='M785.2 55.7L799.2 0L752.4 0Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M59.8 31.7L66.8 109.3L139.6 88.7Z'
				fill='#e7e9ec'
				stroke='#e7e9ec'></path><path
				d='M118.6 0L59.8 31.7L139.6 88.7Z'
				fill='#ebecef'
				stroke='#ebecef'></path><path
				d='M118.6 0L64.8 0L59.8 31.7Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M0 0L0 104.7L59.8 31.7Z'
				fill='#f8f8f8'
				stroke='#f8f8f8'></path><path
				d='M59.8 31.7L0 104.7L66.8 109.3Z'
				fill='#e9ebee'
				stroke='#e9ebee'></path><path
				d='M66.8 109.3L0 171.3L90.8 200Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M0 104.7L0 171.3L66.8 109.3Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M0 171.3L0 200L90.8 200Z'
				fill='#f3f4f5'
				stroke='#f3f4f5'></path><path
				d='M900 152.3L900 94.7L782.2 129.3Z'
				fill='#edeef1'
				stroke='#edeef1'></path><path
				d='M787.2 200L900 152.3L782.2 129.3Z'
				fill='#fafafa'
				stroke='#fafafa'></path><path
				d='M787.2 200L900 200L900 152.3Z'
				fill='#f3f4f5'
				stroke='#f3f4f5'></path><path
				d='M64.8 0L0 0L59.8 31.7Z'
				fill='#eff0f2'
				stroke='#eff0f2'></path><path
				d='M900 94.7L900 0L785.2 55.7Z'
				fill='#ebecef'
				stroke='#ebecef'></path></g
		></svg
	>
	<svg
		class='hidden dark:block'
		id='visual'
		viewBox='0 0 900 200'
		width='900'
		height='200'
		xmlns='http://www.w3.org/2000/svg'
		xmlns:xlink='http://www.w3.org/1999/xlink'
		version='1.1'
		><g stroke-width='1' stroke-linejoin='bevel'
			><path
				d='M409.1 98.7L441.1 167.3L481.9 148.3Z'
				fill='#0b0b0b'
				stroke='#0b0b0b'></path><path
				d='M356.3 200L417.1 200L441.1 167.3Z'
				fill='#000000'
				stroke='#000000'></path><path
				d='M441.1 167.3L527.9 200L481.9 148.3Z'
				fill='#060606'
				stroke='#060606'></path><path
				d='M481.9 148.3L533.9 55.7L409.1 98.7Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M417.1 200L527.9 200L441.1 167.3Z'
				fill='#060606'
				stroke='#060606'></path><path
				d='M481.9 148.3L602.7 149.3L533.9 55.7Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path><path
				d='M409.1 98.7L356.3 200L441.1 167.3Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M409.1 98.7L327.3 152.3L356.3 200Z'
				fill='#262626'
				stroke='#262626'></path><path
				d='M508.9 0L413.1 0L409.1 98.7Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M409.1 98.7L308.3 75.7L327.3 152.3Z'
				fill='#141414'
				stroke='#141414'></path><path
				d='M527.9 200L602.7 149.3L481.9 148.3Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M533.9 55.7L508.9 0L409.1 98.7Z'
				fill='#0b0b0b'
				stroke='#0b0b0b'></path><path
				d='M413.1 0L308.3 75.7L409.1 98.7Z'
				fill='#000000'
				stroke='#000000'></path><path
				d='M560.7 200L602.7 149.3L527.9 200Z'
				fill='#060606'
				stroke='#060606'></path><path
				d='M533.9 55.7L574.7 0L508.9 0Z'
				fill='#202020'
				stroke='#202020'></path><path
				d='M602.7 149.3L607.5 80.7L533.9 55.7Z'
				fill='#262626'
				stroke='#262626'></path><path
				d='M614.7 29.7L574.7 0L533.9 55.7Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M308.3 75.7L261.5 109.7L327.3 152.3Z'
				fill='#141414'
				stroke='#141414'></path><path
				d='M327.3 152.3L266.5 200L356.3 200Z'
				fill='#000000'
				stroke='#000000'></path><path
				d='M413.1 0L298.3 0L308.3 75.7Z'
				fill='#000000'
				stroke='#000000'></path><path
				d='M308.3 75.7L298.3 0L261.5 109.7Z'
				fill='#0b0b0b'
				stroke='#0b0b0b'></path><path
				d='M607.5 80.7L614.7 29.7L533.9 55.7Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path><path
				d='M670.5 87.3L614.7 29.7L607.5 80.7Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path><path
				d='M261.5 109.7L266.5 200L327.3 152.3Z'
				fill='#141414'
				stroke='#141414'></path><path
				d='M697.4 110.3L670.5 87.3L602.7 149.3Z'
				fill='#141414'
				stroke='#141414'></path><path
				d='M602.7 149.3L670.5 87.3L607.5 80.7Z'
				fill='#202020'
				stroke='#202020'></path><path
				d='M670.5 87.3L651.5 0L614.7 29.7Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M614.7 29.7L651.5 0L574.7 0Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M261.5 109.7L206.5 150.3L266.5 200Z'
				fill='#000000'
				stroke='#000000'></path><path
				d='M192.6 103.3L206.5 150.3L261.5 109.7Z'
				fill='#202020'
				stroke='#202020'></path><path
				d='M560.7 200L676.5 200L602.7 149.3Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M676.5 200L697.4 110.3L602.7 149.3Z'
				fill='#262626'
				stroke='#262626'></path><path
				d='M670.5 87.3L734.4 25.7L651.5 0Z'
				fill='#060606'
				stroke='#060606'></path><path
				d='M201.5 0L192.6 103.3L261.5 109.7Z'
				fill='#232323'
				stroke='#232323'></path><path
				d='M90.8 200L198.6 200L206.5 150.3Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M206.5 150.3L198.6 200L266.5 200Z'
				fill='#0b0b0b'
				stroke='#0b0b0b'></path><path
				d='M298.3 0L201.5 0L261.5 109.7Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M676.5 200L725.4 200L697.4 110.3Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path><path
				d='M785.2 55.7L734.4 25.7L697.4 110.3Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path><path
				d='M697.4 110.3L734.4 25.7L670.5 87.3Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path><path
				d='M201.5 0L139.6 88.7L192.6 103.3Z'
				fill='#0b0b0b'
				stroke='#0b0b0b'></path><path
				d='M192.6 103.3L139.6 88.7L206.5 150.3Z'
				fill='#202020'
				stroke='#202020'></path><path
				d='M734.4 25.7L752.4 0L651.5 0Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M785.2 55.7L752.4 0L734.4 25.7Z'
				fill='#232323'
				stroke='#232323'></path><path
				d='M725.4 200L782.2 129.3L697.4 110.3Z'
				fill='#232323'
				stroke='#232323'></path><path
				d='M782.2 129.3L785.2 55.7L697.4 110.3Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M201.5 0L118.6 0L139.6 88.7Z'
				fill='#000000'
				stroke='#000000'></path><path
				d='M725.4 200L787.2 200L782.2 129.3Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M900 0L799.2 0L785.2 55.7Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path><path
				d='M139.6 88.7L90.8 200L206.5 150.3Z'
				fill='#141414'
				stroke='#141414'></path><path
				d='M66.8 109.3L90.8 200L139.6 88.7Z'
				fill='#202020'
				stroke='#202020'></path><path
				d='M900 94.7L785.2 55.7L782.2 129.3Z'
				fill='#0b0b0b'
				stroke='#0b0b0b'></path><path
				d='M785.2 55.7L799.2 0L752.4 0Z'
				fill='#060606'
				stroke='#060606'></path><path
				d='M59.8 31.7L66.8 109.3L139.6 88.7Z'
				fill='#232323'
				stroke='#232323'></path><path
				d='M118.6 0L59.8 31.7L139.6 88.7Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path><path
				d='M118.6 0L64.8 0L59.8 31.7Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M0 0L0 104.7L59.8 31.7Z'
				fill='#060606'
				stroke='#060606'></path><path
				d='M59.8 31.7L0 104.7L66.8 109.3Z'
				fill='#202020'
				stroke='#202020'></path><path
				d='M66.8 109.3L0 171.3L90.8 200Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M0 104.7L0 171.3L66.8 109.3Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M0 171.3L0 200L90.8 200Z'
				fill='#101010'
				stroke='#101010'></path><path
				d='M900 152.3L900 94.7L782.2 129.3Z'
				fill='#1a1a1a'
				stroke='#1a1a1a'></path><path
				d='M787.2 200L900 152.3L782.2 129.3Z'
				fill='#000000'
				stroke='#000000'></path><path
				d='M787.2 200L900 200L900 152.3Z'
				fill='#101010'
				stroke='#101010'></path><path
				d='M64.8 0L0 0L59.8 31.7Z'
				fill='#171717'
				stroke='#171717'></path><path
				d='M900 94.7L900 0L785.2 55.7Z'
				fill='#1d1d1d'
				stroke='#1d1d1d'></path></g
		></svg
	>
</div>
