---
import NextLabIcon from '../images/nextlab.png'
import RezidentIcon from '../images/rezdent.png'

const Skills: Array<string> = [
	'Front-End',
	'Back-End',
	'UI / UX Design',
	'Interpersonal',
	'Testing and debugging',
	'SEO'
]
---

<section
	class='grid gap-6 sm:grid-cols-2 md:mt-6 md:grid-cols-1 lg:mt-0 lg:grid-cols-2'
>
	<article id='about' class='bg-neutral-100 p-2 dark:bg-neutral-800'>
		<span class='font-bold dark:text-neutral-100'>About me</span>
		<p class='mb-2 text-sm text-neutral-600 dark:text-neutral-500'>
			As a highly motivated and detail-oriented web developer, I have a passion
			for creating visually appealing and user-friendly websites.
		</p>
		<div class='font-bold dark:text-neutral-100'>Location</div>
		<span class='text-sm text-neutral-600 dark:text-neutral-500'
			>🇷🇴 Bucharest, Romania</span
		>
	</article>
	<aside class='bg-neutral-100 p-2 dark:bg-neutral-800'>
		<span class='font-bold dark:text-neutral-100'>Skills</span>
		<ul class='my-1 flex flex-wrap gap-2 p-1 pl-0'>
			{
				Skills.map((item) => (
					<li class='w-max rounded-full border-2 py-1 px-2 text-sm dark:border-neutral-700 dark:text-neutral-100'>
						{item}
					</li>
				))
			}
		</ul>
	</aside>
	<article
		id='experience'
		class='space-y-4 p-2 sm:col-span-2 md:col-span-1 lg:col-span-2'
	>
		<span class='font-bold dark:text-neutral-100'>Experience</span>
		<ul class='flex flex-col gap-4'>
			<li class='flex gap-4'>
				<img src={NextLabIcon} alt='NextLab Icon' width='50' class='h-full' />
				<div>
					<div class='text-lg dark:text-neutral-100'>Python Trainee</div>
					<div class='text-neutral-700 dark:text-neutral-400'>
						<a
							href='https://nextlab.tech/'
							target='_blank'
							class='hover:underline'>NextLab</a
						> &#183; Part-time
					</div>
					<div class='text-sm text-neutral-500 dark:text-neutral-600'>
						Oct 2022 - Present
					</div>
				</div>
			</li>
			<hr class='dark:border-black' />
			<li class='flex gap-4'>
				<img
					src={RezidentIcon}
					alt='Rezident Icon'
					width='50'
					class='h-full dark:invert'
				/>
				<div>
					<div class='text-lg dark:text-neutral-100'>Internship</div>
					<div class='text-neutral-700 dark:text-neutral-100'>
						<a
							href='https://rezident.ro/'
							target='_blank'
							class='hover:underline'>Rezident</a
						> &#183; Part-time
					</div>
					<div class='text-sm text-neutral-500 dark:text-neutral-600'>
						Jul 2022 - Jul 2022
					</div>
				</div>
			</li>
		</ul>
	</article>
	<article
		id='other'
		class='space-y-4 p-2 sm:col-span-2 md:col-span-1 lg:col-span-2'
	>
		<span class='font-bold dark:text-neutral-100'>Other Activities</span>
		<ul class='flex flex-col gap-4'>
			<li class='flex gap-4'>
				<img src={NextLabIcon} alt='NextLab Icon' width='50' class='h-full' />
				<div>
					<div class='text-lg dark:text-neutral-100'>Robotics Trainer</div>
					<div class='text-neutral-700 dark:text-neutral-400'>
						<a
							href='https://nextlab.tech/'
							target='_blank'
							class='hover:underline'>NextLab</a
						> &#183; Volunteering
					</div>
					<div class='text-sm text-neutral-500 dark:text-neutral-600'>
						Martie 2019 - Martie 2020
					</div>
				</div>
			</li>
		</ul>
	</article>
</section>
