---
import HtmlCodingIcon from '../images/html-coding.png'
import NextLabIcon from '../images/nextlab.png'
import RezidentIcon from '../images/rezdent.png'
---

<section
	class='grid gap-6 sm:grid-cols-2 md:mt-6 md:grid-cols-1 lg:mt-0 lg:grid-cols-2'
>
	<article
		id='experience'
		class='space-y-4 p-2 sm:col-span-2 md:col-span-1 lg:col-span-2'
	>
		<span class='font-bold dark:text-neutral-100'>Experience</span>
		<ul class='flex flex-col gap-4'>
			<li class='flex gap-4'>
				<img
					src={HtmlCodingIcon}
					alt='NextLab Icon'
					width='50'
					class='h-full dark:invert'
				/>
				<div>
					<div class='text-lg dark:text-neutral-100'>
						Freelance Web Developer
					</div>

					<div class='text-sm text-neutral-500 dark:text-neutral-600'>
						Jan 2023 - Present
					</div>
				</div>
			</li>
			<hr class='dark:border-black' />
			<li class='flex gap-4'>
				<img src={NextLabIcon} alt='NextLab Icon' width='50' class='h-full' />
				<div>
					<div class='text-lg dark:text-neutral-100'>Python Trainer</div>
					<div class='text-neutral-700 dark:text-neutral-400'>
						<a
							href='https://nextlab.tech/'
							target='_blank'
							class='hover:underline'>NextLab</a
						> &#183; Part-time
					</div>
					<div class='text-sm text-neutral-500 dark:text-neutral-600'>
						Oct 2022 - Present
					</div>
				</div>
			</li>
			<hr class='dark:border-black' />
			<li class='flex gap-4'>
				<img
					src={RezidentIcon}
					alt='Rezident Icon'
					width='50'
					class='h-full dark:invert'
				/>
				<div>
					<div class='text-lg dark:text-neutral-100'>Internship</div>
					<div class='text-neutral-700 dark:text-neutral-100'>
						<a
							href='https://rezident.ro/'
							target='_blank'
							class='hover:underline'>Rezident</a
						> &#183; Part-time
					</div>
					<div class='text-sm text-neutral-500 dark:text-neutral-600'>
						Jul 2022 - Jul 2022
					</div>
				</div>
			</li>
		</ul>
	</article>
</section>
