---
import NextLabIcon from '../images/nextlab.png'
---

<section id='other'>
	<article class='space-y-4 p-2 sm:col-span-2 md:col-span-1 lg:col-span-2'>
		<span class='font-bold dark:text-neutral-100'>Other Activities</span>
		<ul class='flex flex-col gap-4'>
			<li class='flex gap-4'>
				<img src={NextLabIcon} alt='Employer Icon' width='50' class='h-full' />
				<div>
					<details>
						<summary class='flex w-max cursor-pointer flex-col'>
							<div class='flex items-center gap-2'>
								<span class='text-lg dark:text-neutral-100'>
									Robotics Trainer
								</span>
								<svg
									class='dark:hidden'
									xmlns='http://www.w3.org/2000/svg'
									xmlns:xlink='http://www.w3.org/1999/xlink'
									fill='#000'
									version='1.1'
									id='Capa_1'
									width='12px'
									height='12px'
									viewBox='0 0 342.382 342.382'
									xml:space='preserve'
								>
									<g>
										<g>
											<g>
												<path
													d='M45.225,125.972C20.284,125.972,0,146.256,0,171.191c0,24.94,20.284,45.219,45.225,45.219     c24.926,0,45.219-20.278,45.219-45.219C90.444,146.256,70.151,125.972,45.225,125.972z'
												></path>
											</g>
											<g>
												<path
													d='M173.409,125.972c-24.938,0-45.225,20.284-45.225,45.219c0,24.94,20.287,45.219,45.225,45.219     c24.936,0,45.226-20.278,45.226-45.219C218.635,146.256,198.345,125.972,173.409,125.972z'
												></path>
											</g>
											<g>
												<path
													d='M297.165,125.972c-24.932,0-45.222,20.284-45.222,45.219c0,24.94,20.29,45.219,45.222,45.219     c24.926,0,45.217-20.278,45.217-45.219C342.382,146.256,322.091,125.972,297.165,125.972z'
												></path>
											</g>
										</g>
									</g>
								</svg>
								<svg
									class='hidden dark:block'
									xmlns='http://www.w3.org/2000/svg'
									xmlns:xlink='http://www.w3.org/1999/xlink'
									fill='#fff'
									version='1.1'
									id='Capa_1'
									width='12px'
									height='12px'
									viewBox='0 0 342.382 342.382'
									xml:space='preserve'
								>
									<g>
										<g>
											<g>
												<path
													d='M45.225,125.972C20.284,125.972,0,146.256,0,171.191c0,24.94,20.284,45.219,45.225,45.219     c24.926,0,45.219-20.278,45.219-45.219C90.444,146.256,70.151,125.972,45.225,125.972z'
												></path>
											</g>
											<g>
												<path
													d='M173.409,125.972c-24.938,0-45.225,20.284-45.225,45.219c0,24.94,20.287,45.219,45.225,45.219     c24.936,0,45.226-20.278,45.226-45.219C218.635,146.256,198.345,125.972,173.409,125.972z'
												></path>
											</g>
											<g>
												<path
													d='M297.165,125.972c-24.932,0-45.222,20.284-45.222,45.219c0,24.94,20.29,45.219,45.222,45.219     c24.926,0,45.217-20.278,45.217-45.219C342.382,146.256,322.091,125.972,297.165,125.972z'
												></path>
											</g>
										</g>
									</g>
								</svg>
							</div>
							<div>
								<div class='text-neutral-700 dark:text-neutral-400'>
									<a
										href='https://nextlab.tech/'
										target='_blank'
										class='hover:underline'
									>
										<span>NextLab</span>
									</a>
									&#183; Volunteering
								</div>
								<div class='text-sm text-neutral-500 dark:text-neutral-600'>
									Martie 2019 - Martie 2020
								</div>
							</div>
						</summary>
						<p class='text-sm text-neutral-700 dark:text-neutral-400'>
							My role was to provide children with hands-on experience in
							building robots. My responsibilities included leading a small
							group of children through various activities to help them
							understand the concepts and techniques involved in robot building.
							I provided guidance and support as they assembled their robots,
							and I also helped them troubleshoot any issues they encountered
							along the way.
						</p>
					</details>
				</div>
			</li>
		</ul>
	</article>
</section>
<style>
	details > summary::-webkit-details-marker {
		display: none;
	}
</style>
