---
import cv from '../assets/andrei-aldea-cv.pdf'
import profile from '../images/profile.jpeg'
---

<section class='flex flex-col sm:flex-row sm:items-center sm:gap-4'>
	<img
		src={profile}
		alt='Profile Photo'
		class='h-32 w-32 -translate-y-8 rounded-full border-4 border-white object-cover drop-shadow-lg dark:border-black sm:h-36 sm:w-36 sm:-translate-y-12'
	/>
	<div
		class='h-32 w-full -translate-y-4 justify-between sm:flex sm:translate-y-0 md:block lg:flex'
	>
		<div>
			<div class='text-2xl font-bold dark:text-neutral-100'>Andrei Aldea</div>
			<div class='text-neutral-700 dark:text-neutral-500 sm:mr-10 md:mr-0'>
				Web Developer and UI / UX Designer
			</div>
		</div>
		<div class='mt-4 flex h-10 gap-4'>
			<a
				href={cv}
				target='_blank'
				class='whitespace-nowrap rounded-md border-2 border-neutral-900 px-2 py-1.5 outline-neutral-900 ring-blue-500 transition-all hover:ring-2 hover:ring-offset-2 dark:border-neutral-100 dark:bg-neutral-900 dark:text-neutral-100 dark:ring-offset-neutral-900'
				>View CV
			</a>
			<a
				href='https://wa.me/771689268'
				target='_blank'
				class='rounded-md border-2 border-neutral-900 bg-neutral-900 px-2 py-1.5 text-white ring-blue-500 transition-all hover:ring-2 hover:ring-offset-2 dark:border-neutral-100 dark:bg-neutral-100 dark:text-black dark:ring-offset-neutral-900'
				>Contact
			</a>
		</div>
	</div>
</section>
